.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #ddd;
}
